body {
	margin: 10px auto 10px auto;
	padding: 0px;
	background: url(../images/bg.gif) 0 0 repeat;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
}

a:link {
	color: #7d868b;
	text-decoration: none;
}

a:visited {
	color: #7d868b;
	text-decoration: none;
}

a:hover {
	color: #6a7276;
	text-decoration: none;
}

a:active {
	color: #7d868b;
	text-decoration: none;
}

.header {
	width: 1000px;
	height: 107px;
	background: url(../images/header.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}
.text11 {
	font-size: 10px;
}

.m-sha-left {
	width: 10px;
	background: url(../images/m-sha-left.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}

.m-middle {
	width: 980px;
	background: url(../images/m-bg.png) 0 0 repeat-x;
	behavior: url(styles/iepngfix.htc);
	line-height: 28px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}

.m-middle a:link {
	color: #515c25;
	text-decoration: none;
}

.m-middle a:hover {
	color: #6d7b35;
	text-decoration: none;
}

.m-sha-right {
	width: 10px;
	background: url(../images/m-sha-right.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}

.content-body {
	width: 1000px;
	background: url(../images/body-cell-bg.png) 0 0 repeat-y;
	behavior: url(styles/iepngfix.htc);
}

.g-box-up {
	width: 238px;
	height: 37px;
	background: url(../images/g-box-up.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
	font-size: 11px;
	font-weight: bold;
	line-height: 37px;
	text-indent: 25px;
	color: #c95b00;
	text-transform: uppercase;
}

.si-box-middle {
	width:: 238px;
	background: url(../images/box-middle.png) 0 0 repeat-y;
	behavior: url(styles/iepngfix.htc);
}

.si-box-down {
	width:: 238px;
	height: 16px;
	background: url(../images/si-box-down.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}

.con-up {
	width: 513px;
	height: 9px;
	background: url(../images/con-up.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}

.con-middle {
	width: 513px;
	background: url(../images/con-mid-bg.png) 0 0 repeat-y;
	behavior: url(styles/iepngfix.htc);
}

.con-down {
	width: 513px;
	height: 16px;
	background: url(../images/con-down.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}

.text12-para {
	font-size: 11px;
	line-height: 15px;
}

.text12-list {
	font-size: 11px;
	line-height: 25px;
}
.text12-poptags {
	font-size: 11px;
	line-height: 25px;
}

.input-element {
	width: 140px;
	height: 16px;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	color: #c95b00;
	font-size: 11px;
	border: 1px solid #c95b00;
}

.input-element-email {
	width: 190px;
	height: 16px;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	color: #c95b00;
	font-size: 11px;
	border: 1px solid #c95b00;
}

.input-element-uname {
	width: 126px;
	height: 16px;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	color: #c95b00;
	font-size: 11px;
	border: 1px solid #c95b00;
}

.btn-element-sign-up {
	width: 60px;
	height: 22px;
	background-color:#c95b00;
	margin: 0px;
	padding: 2px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
}

.btn-element {
	width: 40px;
	height: 22px;
	background-color:#c95b00;
	margin: 0px;
	padding: 2px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
}

.footer {
	width: 1000px;
	height: 76px;
	background: url(../images/footer-bg.png) 0 0 no-repeat;
	behavior: url(styles/iepngfix.htc);
}

.thumbnails {
	width: 468px;
	margin: 0px;
	padding: 0px;
}

.thumbnails ul {
	width: 468px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.thumbnails ul li {
	width: 132px;
	border: 1px solid #ebebeb;
	margin: 0px 20px 20px 0px;
	padding: 1px;
	float: left;
}

.thumbnails ul li img {
	width: 132px;
	height: 73px;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

.thumbnails ul li strong {
	width: 132px;
	display: block;
	margin: 0px 0px 2px 0px;
	padding: 0px;
	font-size: 10px;
	line-height: 11px;
	color: #3a3f25;
	font-weight: bold;
	text-align: left;
}

.thumbnails ul li p {
	width: 132px;
	display: block;
	margin: 0px 0px 2px 0px;
	padding: 0px;
	font-size: 10px;
	line-height: 15px;
	color: #878e50;
	text-align: left;
}

.thumbnails ul li span {
	width: 132px;
	height: 15px;
	display: block;
	margin: 0px;
	padding: 0px;
	background: url(../images/wat-btn.jpg) top right no-repeat;
}

.thumbnails ul li span a {
	width: 44px;
	height: 15px;
	display: block;
	margin: 0px;
	padding: 0px;
	float: right;
}

.clearer {
	clear: both;
}

.title {
	font-size: 11px;
	font-weight: bold;
	line-height: 25px;
	color: #c95b00;
	text-transform: uppercase;
}

.dd-element {
	width: 80px;
	height: 22px;
	border: 1px solid #c95b00;
	margin: 0px;
	padding: 2px;
	color: #d62c05;
	font-size: 10px;
}

.btn-element-sub {
	width: 80px;
	height: 22px;
	background-color:#c95b00;
	margin: 0px;
	padding: 2px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
}
.text_message{
	font-size:13px;
}
.speical_links{
	color:#06f !important;
	text-decoration:underline;
}
.speical_links:hover{
	color:#000 !important;
	text-decoration:none;
}
.btn-element-continue {
	width: 60px;
	height: 22px;
	background-color:#c95b00;
	margin: 0px;
	padding: 2px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
}
.error_field_uname{
	width: 126px;
	height: 16px;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	color: #c95b00;
	font-size: 11px;
	border:2px red solid;
}
.error_field_email{
	width: 190px;
	height: 16px;
	background-color: #fff;
	margin: 0px;
	padding: 2px;
	color: #c95b00;
	font-size: 11px;
	border:2px red solid;
}
.dd-element_error {
	width: 80px;
	height: 22px;
	border: 2px solid red;
	margin: 0px;
	padding: 2px;
	color: #d62c05;
	font-size: 10px;
}
#pagination{
	width:400px;
	height:25px;
	color:#06f;
	font-size:11px;
	text-align:center;
	padding-top:5px;
}
#pagination a{
	/*color:#06f;*/
	font-size:11px;
	text-decoration:underline;
}
#pagination a:hover{
	/*color:#06f;*/
	font-size:11px;
	text-decoration:none;
}
.pagiText
{
	font-family:Arial, Helvetica, sans-serif;
 	font-size:11px;
	padding-top:5px;
}
.selectedPagiText
{
	display:block;
	width:15px;
	height:15px;
	margin-right:5px;
	background-color:#8dbdd8;
	font-family:Arial, Helvetica, sans-serif;
 	font-size:10px;
	color:#000;
	text-decoration:none;
	text-align:center;
	float:left;
}
a.pagiLink
{
	display:block;
	width:15px;
	height:15px;
	margin-right:5px;
	background-color:#666666;
	font-family:Arial, Helvetica, sans-serif;
 	font-size:11px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	float:left;
}
a.next
{
	display:block;
	margin-right:5px;
	font-family:Arial, Helvetica, sans-serif;
 	font-size:10px;
	color:#000;
	text-decoration:none;
	text-align:center;
	float:left;
}
a.pagiLink
{
	display:block;
	width:15px;
	height:15px;
	margin-right:5px;
	background-color:#666666;
	font-family:Arial, Helvetica, sans-serif;
 	font-size:10px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	float:left;
}


a.pagiLink:hover
{
	display:block;
	width:15px;
	height:15px;
	margin-right:5px;
	background-color:#8dbdd8;
	font-family:Arial, Helvetica, sans-serif;
 	font-size:10px;
	color:#000;
	text-decoration:none;
	text-align:center;
	float:left;
}
div.pagination {
padding: 3px;
margin: 3px;
text-align:center;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #AAAADD;

text-decoration: none; /* no underline */
color: #000099;
}
div.pagination a:hover, div.digg a:active {
border: 1px solid #000099;

color: #000;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #000099;

font-weight: bold;
background-color: #000099;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #EEE;

color: #DDD;
}
.return_index{
	color:#06f !important;
}
.return_index:hover{
	color:#999999 !important;
}
.mov_large_img{
	width:432px;
	height:243px;
	border:#06f 3px dashed;
	padding:2px;
}
.mov_title{
	font-size:11px;
}
.btn-element-pay-download {
	width: 100px;
	height: 22px;
	background-color:#c95b00;
	margin: 0px;
	padding: 2px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
}
.special_links{
	color:#000000 !important;
}
.special_links:hover{
	color:#06f !important;
}
.selected_tr{
	color:#06f !important;
}
.selected_letter{
	color:#000 !important;
}
#searchField {
	font: arial, helvetica, sans-serif;
	width:140px;
}

#popups {
	position:relative ;
	width:140px;
	font-size:11px;
}

#searchField.error { 
	background-color: #FC0;
}

div.suggestions {
	background-color: #FFF;
	padding: 2px 6px;
	border: 1px solid #000;
}

div.suggestions:hover {
	background-color: #69F;
}
.searchLink{
	color:#06f !important;
	font-size:11px !important;
	text-decoration:underline !important;
}
.searchLink:hover{
	color:#000 !important;
	font-size:11px !important;
	text-decoration:none !important;		
}
#advSearchPanel{
	width:360px;
	height:240px;
	padding-left:10px;
	padding-right:40px;
	padding-top:20px;
}
.defaultText{
	font-size:11px;
	color:#000 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-right:15px;
}
#addMoreFunds{
	width:135px; height:200px; text-align:center; padding-left:95px; margin-top:20px; color:#06f;
}
.addFundsAmountDiv{
	width:25px; height:20px; float:left; text-align:center;
}
.addFundsAmountLableDiv{
	width:25px; height:17px; text-align:center; padding-top:3px;	
	float:left;	
}
#loginHelp{
	width:195px;
	height:30px;
	color:#06f !important;
}
#loginHelp a{
	color:#06f !important;
	text-decoration:none !important;
}
#loginHelp a:hover{
	color:#06f !important;
	text-decoration:underline !important;
}
.changePW{
	color:#06F !important;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.changePW:hover{
	color:#06F !important;
	text-decoration:underline;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;	
}