<tr>
<td align="left" valign="top" class="footer">
 <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top">
     <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="20" />
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="text11">
     <a href="http://localhost/drelb/Comming_Soon.php">About DRELB</a> |    <a href="http://localhost/drelb/Comming_Soon.php">Archives</a> |    <a href="http://localhost/drelb/Comming_Soon.php">Site Map</a> |    <a href="http://localhost/drelb/Comming_Soon.php">Terms of Use</a> |    <a href="http://localhost/drelb/Comming_Soon.php">Privacy Policy</a> |    <a href="http://localhost/drelb/Comming_Soon.php">Contact Us</a>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
     <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="5" />
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="text11">© 2009 DRELB. All Rights Reserved. Engineered By: Praitie Studios | Web Architects
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
     <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="10" />
    </td>
  </tr>
</table>
</td>
</tr>
