<td align="left" valign="top">
        <table width="238" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                            <td align="left" valign="top" class="g-box-up">Popular Tags</td>
                  </tr>
                  <tr>
                            <td align="center" valign="top" class="si-box-middle">
                                      <table width="238" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                          <td width="25" align="left" valign="top">
                                                                    <img src="<?php echo $public_src;?>images/spacer.gif" width="25" height="1" />
                                                          </td>
                                                          <td width="195" align="left" valign="top">
                                                                    <table width="195" border="0" cellspacing="0" cellpadding="0">
                                                                              <tr>
                                                                                        <td align="left" valign="top">
                                                                                                  <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="15" />
                                                                                        </td>
                                                                              </tr>
                                                                              <tr>
                                                                                        <td align="left" valign="top" class="text12-poptags">
                                                                                                  <a href="http://localhost/drelb/Comming_Soon.php">Greatest classic TV shows</a> <a href="http://localhost/drelb/Comming_Soon.php">movies</a> <strong><a href="http://localhost/drelb/Comming_Soon.php">cartoons</a></strong> <a href="http://localhost/drelb/Comming_Soon.php">and other hard-to-find entertainment</a> <strong><a href="http://localhost/drelb/Comming_Soon.php">classics of all time</a></strong> <a href="http://localhost/drelb/Comming_Soon.php">Real  Bruce  Lee  Martial  Arts</a> <strong><a href="http://localhost/drelb/Comming_Soon.php">Kung  Fu  Movie</a></strong>  <a href="http://localhost/drelb/Comming_Soon.php">Classic Jesus  Christ  John  the  Baptist Resurrection</a> <a href="http://localhost/drelb/Comming_Soon.php">family  One  Step  Beyond</a>
                                                                                        </td>
                                                                              </tr>
                                                                              <tr>
                                                                                        <td align="left" valign="top">
                                                                                                  <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="10" />
                                                                                        </td>
                                                                              </tr>
                                                                    </table>
                                                          </td>
                                                          <td width="18" align="left" valign="top">
                                                                    <img src="<?php echo $public_src;?>images/spacer.gif" width="18" height="1" />
                                                          </td>
                                                </tr>
                                      </table>
                            </td>
                  </tr>
                  <tr>
                            <td align="left" valign="top" class="si-box-down">&nbsp;</td>
                  </tr>
        </table>
</td>