<tr>
          <td align="left" valign="top">
                    <table width="238" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                        <td align="left" valign="top" class="g-box-up">search</td>
                              </tr>
                              <tr>
                                        <td align="center" valign="top" class="si-box-middle">
                                                  <table width="238" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                      <td width="25" align="left" valign="top">
                                                                                <img src="<?php echo $public_src;?>images/spacer.gif" width="25" height="1" />
                                                                      </td>
                                                                      <td width="195" align="left" valign="top">
                                                                                <table width="195" border="0" cellspacing="0" cellpadding="0">
                                                                                          <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                              <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="15" />
                                                                                                    </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                                    <td align="left" valign="top" class="text12-para"><strong>Movie Search</strong></td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                              <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="5" />
                                                                                                    </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                              <form id="moviesSearch" name="moviesSearch" method="postt" action="">
                                                                                                                        <table width="195" border="0" cellspacing="0" cellpadding="0">
                                                                                                                                  <tr>
                                                                                                                                            <td width="150" align="left" valign="top">
                                                                                                                                                      <input id="searchField" autocomplete="off" class="input-element" name="searchField" />
																																					  <div id="popups"><!-- --></div>                                                                                                                                                      
                                                                                                                                            </td>
                                                                                                                                            <td width="45" align="left" valign="top">
                                                                                                                                                      <input name="search" type="button" class="btn-element" id="search" value="Go" onclick="redirect_for_search();" />
                                                                                                                                            </td>
                                                                                                                                  </tr>
                                                                                                                                  <tr>
                                                                                                                                  	<td colspan="2" style="padding-right:20px;">
                                                                                                                                    	<br />&nbsp;&nbsp;&nbsp;<a href="http://<?php echo $_SERVER['HTTP_HOST'];?>/drelb/index.php?cntrl=index&view=advanceSearch" class="searchLink">Advance Search</a>
                                                                                                                                    </td>
                                                                                                                                  </tr>
                                                                                                                        </table>
                                                                                                              </form>
                                                                                                    </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                                    <td align="left" valign="top">
                                                                                                              <img src="<?php echo $public_src;?>images/spacer.gif" width="1" height="10" />
                                                                                                    </td>
                                                                                          </tr>
                                                                                </table>
                                                                      </td>
                                                                      <td width="18" align="left" valign="top">
                                                                                <img src="<?php echo $public_src;?>images/spacer.gif" width="18" height="1" />
                                                                      </td>
                                                            </tr>
                                                  </table>
                                        </td>
                              </tr>
                              <tr>
                                        <td align="left" valign="top" class="si-box-down">&nbsp;</td>
                              </tr>
                    </table>
          </td>
</tr> 